---
//@ts-nocheck
const {
  beer,
  class: extraClass,
} = Astro.props;
---

  <div class="beer_card">
    <h1>{beer.product}</h1>
    <img src="../assets/alefarm_beer.png" alt="alefarm beer tm">
    <h2>{beer.price} KR</h2>

    <a href=`../pages/${beer.id}`>READ MERE NAOW!!!</a>   
    <!-- <a href="../pages/product/${beer.id}">READ MERE NAOW!</a> -->
    <p>{beer.description}</p>
    <p>{beer.ingredient}</p>
    <p>{beer.date}</p> 
  </div>


  <style>
    .beer_card{
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 50px;
        margin-bottom: 5px;
        border-radius: 50px;
        background-color: #D9D9D9;
        max-width: 30%;
    }
  </style>